@tailwind base;
@tailwind components;
@tailwind utilities;


/* Loading fonts */
@font-face {
    font-family: "Helevetica";
    src: url("./assets/fonts/Helvetica.ttf");
}

@font-face {
    font-family: "Helvetica-light";
    src: url("./assets/fonts/Helvetica-light.ttf");
}

@font-face {
    font-family: "Helvetica-bold";
    src: url("./assets/fonts/Helvetica-bold.ttf");
}


input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

.hide-scrollbar::-webkit-scrollbar {
    background: transparent;
    width: 8px;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: none;
    background: #9ca3af;

}

@layer base {
    :root{
        --color-primary-100: 252 78% 49%;
        --color-primary-80 : 252 78% 60%;
        --color-primary-60 : 252 78% 80%;
        
        --color-secondary-100: 253 24% 30%;
        --color-secondary-80 : 254 78% 40%;
        
        --color-white-100: 255 80% 98%;
        --color-white-80 : 255 80% 90%;
        
        --color-black-100: 255 80% 10%;
        --color-black-80 : 240 19% 39%;
        --color-black-60 : 240 19% 45%;

        --color-neutral-dark-100 : 215 22% 9%;
        --color-neutral-dark-80 : 215 22% 16%;
        --color-neutral-dark-60 : 215 22% 20%;
        --color-neutral-dark-40 : 215 22% 30%;

        --color-neutral-light-100 : 0 0% 100%;
        --color-neutral-light-80 : 0 0% 93%;
        --color-neutral-light-60 : 0 0% 84%;
    }
}


@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(10px);
    }
}
