@tailwind base;
@tailwind components;
@tailwind utilities;


/* Loading fonts */
@font-face {
    font-family: "Helevetica";
    src: url("./assets/fonts/Helvetica.ttf");
}

@font-face {
    font-family: "Helvetica-light";
    src: url("./assets/fonts/Helvetica-light.ttf");
}

@font-face {
    font-family: "Helvetica-bold";
    src: url("./assets/fonts/Helvetica-bold.ttf");
}

@layer base {

}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}


@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(10px);
    }
}
